.beverage {
  border: 1px solid #eee;
  margin: 15px 0;
  padding: 15px;
}

.beverage-count {
  margin: 0 0 15px;
}

.field {
  display: block;
  margin-bottom: 10px;
}

.label-text {
  display: inline-block;
  width: 80px;
}

.checkbox-label {
  margin-bottom: 5px;
  display: inline-block;
}

.checkbox-field {
  margin: 5px 0;
  display: block;
}

.wish-preview {
  margin-top: 5px;
  font-style: italic;
}

.add-button {
  border: none;
  background: none;
  padding: 10px;
  color: rgba(0, 27, 255, 0.82);
  font-size: 14px;
  text-decoration: underline dashed;
  cursor: pointer;
}

.submit-button {
  font-size: 16px;
  padding: 7px 15px;
  border: 2px solid orange;
  border-radius: 5px;
}

/*-modal----------------------------*/
.modal {
  width: 500px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  display: none;
  justify-content: start;
}

.modal__content {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.modal__wrapper {
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-overlay {
  background-color: black;
  opacity: 0.5;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.modal__table-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.modal__table-container th,
.modal__table-container td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.modal__time-container input[type="time"] {
  margin-left: 8px;
  padding: 2px 4px;
  font-size: 14px;
}

.confirm-button {
  margin-top: 15px;
  padding: 6px 12px;
  font-size: 14px;
  border: 2px solid green;
  border-radius: 5px;
  cursor: pointer;
}
